// USER VARIABLES SECTION

$accent: #0674ec; // Accent Color
$red: #ff6a6c;
$green: #62d03b;
$yellow: #feb71d;
$darkgrey: #333333;
$textcolor: #555555; // Text Color
$categorycolor: #7347c1; // Color for categories
$fontsize: 16px; // Body Font Size
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$quicksand: Quicksand, sans-serif; // Quicksand Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 15px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites
@import 'node_modules/slick-carousel/slick/slick.scss'; // Slick-slider
@import 'app/lib/rateyo/jquery.rateyo.min'; //RateYo
@import 'node_modules/ion-rangeslider/css/ion.rangeSlider.min'; //ionRangeSlider
@import 'linearicons'; //Linearicons font
@import 'icomoon'; //FontAwesome font



// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Quicksand', normal, 300, '../fonts/Quicksand-Light.woff2');
@include font('Quicksand', normal, 400, '../fonts/Quicksand-Regular.woff2');
@include font('Quicksand', normal, 500, '../fonts/Quicksand-Medium.woff2');
@include font('Quicksand', normal, 700, '../fonts/Quicksand-Bold.woff2');
