.header__burger{
	display: none;
}

@media (max-width: 1180px){
	.category-list--list .info-wrapper{
		display: block;
		flex: 0 0 200px;
	}
	.category-list--list .product-card__meta{
		height: auto;
		border-right: none;
	}
	.category-list--list .product-card__desc{
		flex: 1 1;
	}
	.category-list--list .product-card__purchase{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: auto;
		padding-bottom: 0;
	}
	.category-list--list .product-card__price{
		margin-bottom: 0;
	}
	.category-list--list .comments {
		display: none;
	}
	.category-list--list .author{
		margin-bottom: 15px;
	}

}


@media (max-width: 1150px){
	.pricing{
		padding: 60px 0;
	}
	.pricing__cards{
		justify-content: start;
		flex-wrap: wrap;
	}
	.pricing-card{
		margin-left: 30px;
		margin-bottom: 30px;
	}

	.product__inner{
		flex-direction: column;
	}
	.product__content{
		margin-right: 0;
		margin-bottom: 30px;
	}
	.product-price-btn{
		margin: 0 auto;
		display: block;
		max-width: 270px;
	}
	.product-tabs .product-tabs__img{
		min-height: 700px;
	}
	.new-products__item{
		max-width: 100%;
	}
	.f-products, .new-products, .why-choose, .latest-news{
		padding: 60px 0;
	}
	.new-products__bottom-btn button{
		margin-top: 0;
	}

	.feedback__items{
		flex-direction: column;
	}
	.feedback-item{
		max-width: 100%;
		margin-bottom: 20px;
	}
}

@media (max-width: 1050px){
	.footer__inner{
		flex-wrap: wrap;
	}
	.footer__col-about{
		min-width: 100%;
		margin-bottom: 30px;
	}

	.category-list--list .product-card__thumbnail{
		flex: 0 0 200px;
	}
	.filter-favorites{
		display: none;
	}


}

@media (max-width: 960px){
	//--------------------------Burger start-----------------------------
	.header__burger{
		display: block;
		position: absolute; // Позиционируем абсолютно
		width: 30px;
		height: 21px;
		margin-right: 20px;
	}
	.header__burger span{
		content: "";
		background-color: $textcolor;
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s;
	}
	.header__burger::before, .header__burger::after{
		content: "";
		background-color: $textcolor;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}

	.header__burger.active::before{
		transform: rotate(45deg);
		top: 9px;	
	}

	.header__burger.active::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span{
		transform: scale(0);
	}
	//-------------------------------Burger End------------------------------------

	.header__logo{
		margin-left: 50px;  //Отодвигаем логотип от левого края
	}

	.header__top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 4;
		&-inner{
			height: 60px;      //Уменьшаем высоту верхней части хедера
		}
	}


	.header__bottom{
		margin-top: 60px;
	}

	.header__logo{
		flex: 0 0 120px; //Уменьшаем размер логотипа
	}

	.header__menu{
		// display: none;
		position: absolute;
		padding: 20px 0px 0px;
		padding-top: 0;
		top: -100%;
		right: 0;
		width: 100%;
		background-color: #fff;
		z-index: 2;
		transition: all 0.5s ease-out;

		.has-dropdown:hover >	.menu-dropdown {
			display: none;  //Отрубаем ховер в меню на малых ширинах экрана
		}
		.has-dropdown.active >.menu-dropdown {
			display: block;  //Показываем подменю при клике
		}
	}
	.header__menu.active{
		top: 60px;
	}

	
	.header__menu ul li{
		// display: flex;
		display: block;
		// justify-content: center;
		text-align: center;
		padding: 10px 0;
		border-bottom: 1px solid #e8ebf0;
		width: 100%;
		.menu-dropdown{
			position: initial;
			width: 100%;
			padding-top: 0;
			&__item{
				padding: 0;
				border-bottom: none;
			}
		}
		.dropdown-menu {
			background-color: #fff;
			border-top: none;
			box-shadow: none;
			margin-bottom: 10px;
			padding: 0;
		}
	}
	.header__menu ul li + li{
		margin-left: 0;
	}

	.menu-pages-dropdown__list{
		display: block;
	}

	.menu-pages-dropdown .menu-2column__list{
		display: block;
		column-count: 1;
		max-width: 100%;
		li{
			display: block;
			width: 100%;
		}
	}

	.header__search-form{
		min-width: 100%; //Растягивам строку поиска на всю ширину
	}

  // Убираем выпадающие меню
	.buyer-ntfy__item{
		&.alarms:hover{
			.buyer-alarm__dropdown{
				display: none;
			}
		}
		&.messages:hover{
			.buyer-messages__dropdown{
				display: none;
			}
		}
		&.purchases:hover{
			.buyer-cart__dropdown{
				display: none;
			}
		}
	}
	.buyer-idn:hover{
		.buyer-idn__dropdown{
			display: none;
		}
	}
	.how{
		padding: 60px 0;
	}
	.how-block{
		flex-direction: column;
		align-items: center;
		text-align: center;
		&__content{
			flex-basis: 0;
		}
		&__image{
			flex-basis: 0;
			max-width: 200px;
			margin-bottom: 20px;
		}
		&__title{
			margin-bottom: 10px;
		}
	}

	.join{
		padding: 60px 0;
	}

	.category{
		padding: 60px 0;
	}
	.category__inner{
		flex-direction: column;
	}
	.product-sidebar{
		margin-right: 0;
	}

	.filter-bar{
		flex-direction: column;
	}
	.filter-new-popular{
		margin-bottom: 30px;
	}

	.f-products__item{
		flex-wrap: wrap;
		height: auto;
	}
	.f-products__item-image{
		height: 350px;
	}
	.f-products__item-description{
		flex: 1 1 555px;
	}
}


@media (max-width: 850px){
	.blog__inner{
		display: block;
	}
	.blog__content{
		margin-right: 0;
		margin-bottom: 60px;
	}
	.blog-list__item-img{
		min-height: 350px;
	}

	.search__inner{
		padding: 80px 0 220px;
		min-height: 580px;
	}
	.search__inner-title{
		font-size: 48px;
	}
	.search__inner-text{
		font-size: 16px;
	}

	.sell-shop__inner{
		flex-direction: column;
	}
	.sell-shop__item{
		width: 100%;
	}
}



@media (max-width: 780px){
	.latest-news .news-item {
		flex: 1 0;
	}
}




@media (max-width: 760px){
	.pricing{
		padding: 60px 0;
	}
	.pricing__cards{
		justify-content: center;
	}
	.pricing-card{
		margin: 30px;
	}

	.product-tabs__nav{
		display: block;
	}

	.header__buyer .seller-btn{
		display: none;  // скрываем кнопку Стать продавцом
	}

	.contacts__inner{
		padding: 60px 0;
	}
	.contacts__cards{
		flex-direction: column;
	}
	.contacts__card{
		margin-bottom: 30px;
	}
	.contacts__form form .contacts-row{
		flex-direction: column;
		margin-bottom: 0;
	}
	.contacts__form form input{
		margin-bottom: 30px;
	}

	.search__inner-title{
		font-size: 36px;
		line-height: 40px;
	}

	.search__inner-form form{
		flex-wrap: wrap;
		justify-content: center;
	}
	.search__inner-form button{
		margin-left: 0;
	}
	.search__inner-form input, .search__inner-form div{
		flex-basis: 50%;
		margin-bottom: 20px;
	}

	.why-choose__items{
		flex-direction: column;
	}
}


@media (max-width: 690px){
	.alarms{
		display: none; // Скрываем уведомления
	}
	.messages{
		display: none; // Скрываем сообщения
	}

	.buyer-ntfy{
		margin-left: 0;
		// margin-right: 20px;
	}
	.buyer-ntfy__item.purchases{
		margin-left: 0;
	}

	.product .product-preview__nav-btn-block{
		display: block;
		text-align: center;
	}
	.product .product-preview__btn{
		text-align: center;
		margin: 0 auto 20px;
	}
	.product .product-preview__social-block{
		display: block;
		text-align: center;
		.social-block{
			justify-content: center;
		}
	}

	.product-tabs .product-tabs__img{
		min-height: 500px;
	}
	.filter-bar .filter-wrapper{
		flex-direction: column;
	}
	.filter-bar .filter-wrapper .filter__option{
		margin: 0 0 20px;
	}

	.category-list--list .product-card__details{
		display: block;
	}
	.category-list--list .product-card__desc{
		margin-bottom: 20px;
	}
	.category-list--list .product-card__meta{
		padding-left: 0;
	}
	.category-list--list .product-card__purchase{
		padding-left: 0;
		justify-content: start;
	}
	.category-list--list .product-card__price{
		margin-right: 10px;
	}
	
	.features{
		padding: 170px 0 60px;
	}
	.features__inner{
		display: block;
		a{
			width: 100%;
		}
	}
	.features__item{
		max-width: 100%;
		padding: 0 0 20px;
		min-height: auto;
	}

	.numbers__inner{
		flex-wrap: wrap;
	}
	.numbers__item{
		flex-basis: 50%;
	}
	.support__inner{
		flex-direction: column;
		.support-item{
			width: 100%;
			border-left: none;
		}
	}
}



.buyer-btn{
	display: none;
	margin-right: -20px;
	width: 90px;
	height: 100%;
	position: relative;
	background-color: #fff;
	border-left: 4px solid $accent;
	cursor: pointer;
	&::before{
		font-size: 24px;
		color: $accent;
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
	}
}


@media (max-width: 560px){
	.header__buyer{
		position: absolute;
		right: -100%;
		background-color: #eef1f3;
		transition: all 0.5s;
		&.active{
			right: 100px;
		}
	}
	.buyer-btn{
		display: block;
	}

	.error__inner{
		padding: 40px 10px 50px;
	}
	.error__image{
		width: 280px;
	}
	.error__message{
		font-size: 26px;
	}

	.terms {
		padding: 20px 0 40px;
	}

	.blog-list__item-info{
		flex-wrap: wrap;
	}

	.recover-pass, .register, .login{
		padding: 60px 0 60px;
	}

	.register-box, .login-box{
		&__form, &__title, &__subtitle{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.login-box__text{
		display: block;
	}

	.search__inner-form{
		display: block;
	}
	.search__inner-form input, .search__inner-form div, .search__inner-form select{
		display: block;
		min-width: 100%;
	}
	.search__inner-form div{
		border: 1px solid #dcdcdc;
	}

	.f-products__item-image{
		height: 250px;
	}
	.f-products__item-spec__rating{
		display: none;
	}

	.new-products__head{
		flex-wrap: wrap;
	}
}

@media (max-width: 460px){
	.category-list--list .product-card{
		display: block;
	}
	.category-list--list .product-card__thumbnail{
		display: block;
		width: 100%;
	}
	.category-list--list .product-card__details{
		padding-left: 20px;
		padding-right: 20px;
	}
	.category-list--list .product-card__desc{
		border-right: none;
	}

	.search__inner{
		padding: 40px 0 200px;
	}
	.search__inner-text{
		margin-bottom: 30px;
	}

	.search__inner-buttons{
		flex-direction: column;
		align-items: center;
	}
	.search__inner-buttons .search-btn+.search-btn{
		margin-left: 0;
		margin-top: 20px;
	}
}


@media (max-width: 420px){
	.purchases{
		display: none; // Скрываем покупки
	}

	.pricing-card{
		margin: 10px;
		flex: 0 1 360px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.blog-list__item-img{
		min-height: 250px;
	}

	.search-form {
    min-width: 240px;
    position: relative;
	}
	.pagination .pagination-list{
		text-align: center;
	}
	.pagination .pagination-list .pagination-item{
		margin: 0 5px 10px;
	}
	.pagination .pagination-list .pagination-item--prev{
		margin: 0px 40% 10px;
	}
	.pagination .pagination-list .pagination-item--next{
		margin: 0px 40% 10px;
	}

	.product .product-preview__social-block{
		margin-left: 10px;
		margin-right: 10px;
	}

	.product .product-preview__social-block .social-block{
		flex-wrap: wrap;
		a{
			margin-bottom: 20px;
		}
	}

	.new-products__item{
		flex-basis: 290px;
	}
	.new-products__item-spec__loved{
		display: none;
	}

	.f-products__item-spec__loved{
		display: none;
	}
	.f-products__item-title a{
		font-size: 18px;
	}
	.f-products__item-author-category{
		display: block;
		margin-left: 0;
	}
	.f-products__head {
		flex-wrap: wrap;
	}
	.f-products__head-title, .new-products__head-title{
		font-size: 24px;
	}
	.f-products__item-description{
		padding-left: 0;
		padding-right: 28px;
	}

	.numbers__inner{
		justify-content: space-between;
		padding: 50px 0 40px;
	}
	
}
