@import 'config';

// header top styles

.header__top{
	background-color: #eef1f3;
	&-inner{
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__buyer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.seller-btn{
		display: block;
		padding: 12px 18px;
		border: none;
		border-radius: 22px;
		background-color: $accent;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		color: #fff;
		font-size: 12px;
		line-height: 12px;
		&:hover{
			background-color: $red;
		}
	}
}

.buyer-ntfy{
	margin-left: 40px;
	margin-right: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item{
		position: relative;
		& + &{
			margin-left: 36px;
		}
		.buyer-ntfy__count{
			position: absolute;
			top: -5px;
			right: -16px;
			padding: 5px 5px;
			border-radius: 10px;
			color: #fff;
			text-align: left;
			font-size: 14px;
			line-height: 9px;
			font-weight: 500;
		}
		.red{
			background-color: $red;
		}
		.green{
			background-color: $green;
		}
		.accent{
			background-color: $accent;
		}
		img{
			width: 20px;
			height: 20px;
		}
	}
}

.buyer-idn{
	// margin-left: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	&__photo{
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100%;
	}
	&__name{
		margin-left: 20px;
		color: $darkgrey;
		font-weight: 700;
		line-height: 22px;
		span{
			display: block;
			color: $accent;
			font-weight: 400;
		}
	}
}

.header__bottom-inner{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu{
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	color: $darkgrey;
	&-active{
		color: $accent;
	}
	a:hover{
		color: $accent;
		transition: color 0.3s;
	}
	a + a{
		margin-left: 34px;
	}
}

.header__search-form{
	width: 360px;
	min-width: 270px;
	position: relative;
	input{
		display: block;
		padding: 16px 72px 16px 24px;
		width: 100%;
		height: 46px;
		border-radius: 23px;
		border: 1px solid #d9dfe5;
		font-weight: 400;
		font-size: 15px;
		&::placeholder{
			color: #898f96;
		}
	}
	button{
		position: absolute;
		border: none;
		background-color: $accent;
		color: #fff;
		right: 0;
		top: 0;
		border-radius: 23px;
		height: 46px;
		width: 70px;
		img{
			width: 20px;
			height: 20px;
		}
	}
}

.search{
	background-image: linear-gradient(180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
	&__inner{
		min-height: 726px;
		padding: 180px 0 100px;
		margin: auto;
		text-align: center;
		position: relative;
		&-title{
			margin-bottom: 36px;
			font-weight: 400;
			font-size: 60px;
			line-height: 70px;
			color: #fff;
			text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
			span{
				display: block;
				font-weight: 700;
			}
		}
		&-text{
			margin-bottom: 64px;
			font-weight: 500;
			font-size: 20px;
			color: #fff;
		}
		&-buttons{
			display: flex;
			justify-content: center;
			.search-btn{
				display: block;
				width: 190px;
				padding: 20px;
				border: 1px solid #fff;
				border-radius: 27px;
				font-weight: 400;
				font-size: 16px;
				line-height: 16px;
				color: #fff;
				& + .search-btn{
					margin-left: 30px;
				}
				&-active, &:hover{
					color: $accent;
					background-color: #fff;
					box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
					transition: all 0.5s;
				}
			}
		}
		&-form{
			padding: 40px;
			width: 100%;
			height: 135px;
			border-radius: 5px;
			position: absolute;
			bottom: 0;
			background-color: #fff;
			box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
			transform: translateY(50%);
			&::before{
				content: "";
				position: absolute;
				z-index: -1;
				background-color: rgba($color: #ffffff, $alpha: 0.5);
				top: -13px;
				left: 15px;
				right: 15px;
				border-radius: 5px;
				height: 135px;
			}
			&::after{
				content: "";
				position: absolute;
				z-index: -1;
				background-color: rgba($color: #ffffff, $alpha: 0.5);
				top: -26px;
				left: 30px;
				right: 30px;
				border-radius: 5px;
				height: 135px;
			}
			form{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			input{
				padding: 0 10px 0 26px;
				flex: 1 0 auto;
				height: 55px;
				border-radius: 4px 0 0 4px;
				border: 1px solid #dcdcdc;
				&::placeholder{
					color: #676767;
				}
			}
			div{
				position: relative;
				&::after{
					content: "";
					position: absolute;
					top: 23px;
					right: 20px;
					width: 13px;
					height: 13px;
					background-image: url(../images/dest/icon-chevron-down.svg);
					background-repeat: no-repeat;
				}
				select{
					height: 55px;
					padding-left: 20px;
					padding-right: 60px;
					border-radius: 0 4px 4px 0;
					border: 1px solid #dcdcdc;
					border-left: none;
					appearance: none;
					cursor: pointer;
					color: #676767;
					position: relative;
					option{
						color: #676767;
					}
				}
			}
			button{
				margin-left: 30px;
				width: 220px;
				height: 53px;
				border: none;
				border-radius: 4px;
				background-color: $accent;
				color: #fff;
			}
		}
	}
}

